.jumbotron img {
    width: 200px;
    border: 1px solid rgb(253, 146, 7);
    background: rgb(243, 212, 72);
}

.jumbotron {
    background: rgb(206, 250, 149);
}

.bg-light img {
    width: 200px;
    border: 1px solid rgb(253, 146, 7);
}

.bg-light h2 {
    font-size: 40px;
}